<template>
    <div>
        <div v-show="whichView == 0">
            <h1>Open auctions</h1>
            <ul>
                <li v-for="auction in auctions" :key="auction.id">
                    <div @click="details(auction.id)" class="alert alert-info">
                        {{auction}}
                    </div>
                </li>
            </ul>
        </div>
        <div v-show="whichView == 1">
            <h1>Auction details</h1>
            <ul>
                <li v-for="attr in clickedAuction">
                    <div class="alert alert-info">
                        {{attr}}
                    </div>
                </li>
            </ul>
            <div>
                <input  v-model="new_bid" placeholder="make your bid" type="text" class="form-control app-login-input">
            </div>
            <div>
                <button @click="back" class="btn btn-primary app-login-button"> Back </button>
                <button @click="placeBid" class="btn btn-primary app-login-button"> Place Bid </button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios"

export default{
    data: function(){
        return {
            auctions: null,
            whichView: 0,
            clickedAuction: null,
            new_bid: null
        }
    },
    methods: {
        details: function (id) {
            this.whichView = 1;
            for (var i = 0; i < this.auctions.length; i++) {
                if(this.auctions[i].id == id){
                    this.clickedAuction = this.auctions[i]
                }
            }
        },
        back: function () {
            this.whichView = 0;
            this.clickedAuction = null;
        },
        placeBid: function () {
            console.log("place bid")
            axios.post("api/bid", {
                params:{
                    id: this.clickedAuction.id,
                    newBid: this.new_bid
                }
            }).then(response => {
                console.log("resp of placing bid", response.data)
                this.whichView = 0;
                this.clickedAuction = null;
                this.new_bid = null;
                this.refreshAuctionsView();
            }).catch(error => {
                console.log(error);
            })
        },
        refreshAuctionsView: function () {
            axios.get("/api/auctions").then(response => {
                console.log("auctions", response.data)
                this.auctions = response.data.openAuctions
            }).catch(error => {
                console.log("Something went wrong");
            });
        }
    },
    mounted: function () {
        this.refreshAuctionsView();
    }
}

</script>

<style>

</style>
